.img1 {
	position: absolute;
	width: 100%;
	height: 85%;
	z-index: 0;
}
.img2 {
	background-size: cover;

	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.light-blue-background {
	background-color: #d6ebff;
	padding: 40px;
}
